@model DesafioAPI.Models.Tarefa

@{
    ViewData["Title"] = "Deletar Tarefa";
}

<h2>Deletar Tarefa</h2>

<hr />
<div>
    <h3>Você tem certeza que deseja deletar esta tarefa?</h3>
    <div>
        <h4>Tarefa</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">Título</dt>
            <dd class="col-sm-10">@Model.Titulo</dd>

            <dt class="col-sm-2">Descrição</dt>
            <dd class="col-sm-10">@Model.Descricao</dd>

            <dt class="col-sm-2">Data</dt>
            <dd class="col-sm-10">@Model.Data.ToString("dd/MM/yyyy")</dd>

            <dt class="col-sm-2">Status</dt>
            <dd class="col-sm-10">@Model.Status</dd>
        </dl>
        <div class="text-center" style="margin-top: 30px;"></div>
        <form asp-action="Deletar">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Deletar" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-secondary">Voltar</a>
        </form>
    </div>
</div>